*.csharp linguist-detectable=true
*.vb linguist-detectable=false
*.java linguist-detectable=false
*.js linguist-detectable=false
*.html linguist-detectable=false
*.xml linguist-detectable=false
*.asp.net linguist-detectable=false
